{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
  },
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
  },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "__INIT_STATE__"
        ]
      }
    ],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore",
    }]
  }
}
